@import "modules/all";


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

body{
  font-family: 'Lato', sans-serif;
}

h1{
  font-size: 40px;
}

p{
  font-size: 18px;
}

.text-center{
  text-align: center;
}

.center{
  margin: 0 auto;
  float: none;
}

.padding-section{
  padding-top: 6%;
  padding-bottom:6%;
}

.padding-section-elements-top{
  padding-top: 3%;
}

.padding-section-elements-bottom{
  padding-bottom: 3%;
}
//nav

.navbar-default .navbar-toggle{
  border-radius: 0px;
  border: 2px solid $orange;
  &:hover{
    background: none;
  }
  &:focus{
    border-radius: 0px;
    border: 2px solid $orange;
    background: none;
  }

  .icon-bar{
    background-color: $orange;
  }
}

nav.navbar{
  border-top: none;
  border-radius: 0px;
  background-color: $white;
  min-height: 80px;
  margin-bottom: 0px;
  .navbar-header,.navbar-nav{
    margin-top: 2vh;
  }
  .navbar-nav{
    li a{
      font-family: 'Lato', sans-serif;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 100;
      color: $orange;
      @include transition(all .8s);
      &:hover{
        color: $purple;
        @include transition(all .8s);
      }
      &:focus{
        color: $purple;
        @include transition(all .8s);
      }
    }
  }
}


//slider1
.carousel-control.left, .carousel-control.right{
  display: none;
}

//About

#about, #sobre-nosotros{
  background-color: $purple;
  color: $white;
  p{
    font-weight: 100;
  }
}

//services
#services{
  p{
    font-weight: 100;
  }
}


//slider2 - portfolio


//contact

#contact{
  background-color: $dark-gray;
  color: $white;

  input, textarea{
    background: none;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    @include transition(all 1s);
    &:focus{
      box-shadow: none;
      border-bottom-color: $orange;
      @include transition(all 1s);
    }
  }

  .btn-contact{
    margin-top: 20px;
    border-radius: 0px;
    background: none;
    border: 2px solid $white;
    padding: 1% 3%;
    @include transition(all .4s);

    &:hover{
      letter-spacing: 3px;
      border-color: $orange;
      color: #fff;
      @include transition(all .4s);
    }
  }
}



//footer
.footer{
  background: $footer-black;
  height: 80px;
  .footer-links{
    color:$white;
    padding-top:5%;

    li{
      display: inline-block;
      padding-right: 30px;
    }
    a{
      letter-spacing: 2px;
      color: $white;
      @include transition(all .4s);
      &:hover{
        color: $orange;
        text-decoration: none;
        @include transition(all .4s);
      }
    }
  }
}


//Modals

.modal-content{
  border: none;
  border-radius: 0px;
}

.modal{
  input, textarea{
    box-shadow: none;
    background: none;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    @include transition(all 1s);
    &:focus{
      box-shadow: none;
      border-bottom-color: $orange;
      @include transition(all 1s);
    }
  }
  .btn-login{
    margin-top: 20px;
    border-radius: 0px;
    background: none;
    border: 2px solid $footer-black;
    padding: 1% 3%;
    @include transition(all .4s);

    &:hover{
      letter-spacing: 3px;
      border-color: $orange;
      color: $footer-black;
      @include transition(all .4s);
    }
  }
}
